<div class="organization-summary-component">
  <div class="train-organization-summary" l10nTranslate>train_organization_summary</div>
  
  <div class="d-flex justify-content-center tabs">
    <a
      class="tab"
      [class.active]="selectedTab === 'motives'" 
      (click)="selectedTab = 'motives'" 
      l10nTranslate>
      navigation_motives
    </a>
    <a
      class="tab"
      [class.active]="selectedTab ==='conflict'" 
      (click)="selectedTab = 'conflict'" 
      l10nTranslate>
      navigation_conflict
    </a>
    <a
      class="tab"
      [class.active]="selectedTab === 'strengths'" 
      (click)="selectedTab = 'strengths'" 
      l10nTranslate>
      navigation_strengths
    </a>
    <a
      class="three-dots"
      [ngbPopover]="popContent"
      [placement]="'bottom'">
      <img src="assets/images/icons/settings-gray.svg"/>
    </a>
    <ng-template #popContent>
      <a (click)="downloadPdfReport()" download l10nTranslate>train_download_pdf_report</a>
    </ng-template>
  </div>

  <div *ngIf="selectedTab === 'motives'">
    <app-motives
      [motives]="motives"
      [totalMemberCount]="9555"
      [sdiMemberCount]="6754"
      [pendingSdiInvitationCount]="742">
    </app-motives>
  </div>
  <div *ngIf="selectedTab === 'conflict'">
    <app-conflict
      [leftMemberCount]="6754"
      [rightMemberCount]="6754">
    </app-conflict>
  </div>
  <div *ngIf="selectedTab === 'strengths'">
    <app-strengths [memberCount]="6754"></app-strengths>
  </div>
</div>
