
@import '../../../../mixins';
@import '../../../../variables';

.color {
  @include pspPersonalityColors;
}

.percentage {
  font-family: "proxima_novamedium", Arial, sans-serif; 
  font-size: $base-font-size;
  line-height: normal;
  color: $white;
  width: 37px;
  height: 31px;
  margin-right: 4px;

  @include pspBackgroundPersonalityColors;
}

.detail {
  flex: 1;

  .top-bar {
    height: 18px;
    margin-bottom: 2px;

    @include pspBackgroundPersonalityColors;
  }

  .text {
    @include pspPersonalityColors;
    letter-spacing: 0.6px;
  }
}