@import '../../../../mixins';
@import '../../../../variables';

.motives-component {
  color: $body-text-color;

  .title {
    font-family: "proxima_novabold", Arial, sans-serif;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 8px;
  }

  .member-count {
    font-size: 16px;
    color: $very-dark-gray;
    margin-bottom: 35px;
  }

  .left-container {
    width: 50%;
    padding: 30px 40px;

    .triangle {
      background-image: url('/assets/images/Triangles/1x/Motives - Triangle@1x.png');
      background-size: auto 85%;
      background-repeat: no-repeat;
      height: 300px;
    }
  }

  .right-container {
    width: 50%;
    background-color: $almost-white;
    padding: 30px 40px;

    .train-impact-member-stats {
      .train-impact-member-stats-text {
        font-family: "proxima_novasemibold", Arial, sans-serif;
      }
    }

    .train-impact-member-stats-text {
      line-height: 1;
    }
  }
}