@import '../../../mixins';
@import '../../../variables';

.create-management-team-component {
  background-image: url('/assets/images/train/create-management-team-bg@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 435px;

  .title {
    font-family: "proxima_novabold", Arial, sans-serif;
    font-size: 36px;
    line-height: 1;  
  }

  .sub-title {
    font-family: "proxima_novamedium", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.3;
    margin: 20px 0;

    p {
      margin: 0;
    }
  }

  a.create-team-button {
    font-family: "proxima_novamedium", Arial, sans-serif;
    letter-spacing: 1px;
    padding: 15px 60px; 
    color: $body-text-color;
    border-radius: 4px;
    background-color: $extra-light-gray;
    cursor: pointer;
  }
}